<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php-7.0.30" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\php\7.0.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
