<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        

        <title>--- Welcome to AVT-POWER.COM ---</title>

        
        <link href="avt.css" rel="stylesheet" type="text/css" />
        
    </head>

    <body>
        <!-- 禁止copy圖 -->
            <script language="JavaScript1.1">
                function right(e) {
              if (navigator.appName =='Netscape'&&
              (e.which ==3|| e.which ==2))
              return false;
              else if (navigator.appName == 'Microsoft Internet Explorer' &&
              (event.button == 2|| event.button ==3)) {
              alert("Please respect the intellectual property,Thank you!");
              return false;
              }
              return true;
              }
              document.onmousedown=right;
              if (document.layers) window.captureEvents(Event.MOUSEDOWN);
              window.onmousedown=right;
        </script>
            <!-- 禁止copy圖 -->
        <table id='pc' width="778" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class='layui-hide-xs'>
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><img src="images/index_top_01.jpg" width="228" height="50" /></td>
                            <td><img src="images/index_top_02.jpg" width="434" height="50" /></td>
                            <td><img src="images/index_top_03.jpg" width="85" height="50" border="0" usemap="#Map" /></td>
                            <td><img src="images/index_top_04.jpg" width="31" height="50" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><img src="images/1x1.gif" width="1" height="1"></td>
            </tr>
            <tr>
                <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                        width="778" height="246">
                        <param name="movie" value="index.swf"/>
                        <param name="quality" value="high" />
                        <embed src="index.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="778" height="246" />
                    </object>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="228" valign="top" bgcolor="#DEDEDE">
                                <table border="0" cellpadding="0" cellspacing="0" bgcolor="#C50000">
                                    <tr>
                                        <td><img src="images/228x1.gif" width="228" height="1" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td><img src="images/18x1.gif" width="18" height="1" /></td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="newproduct.html">New Product</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="product.html">Product</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="quality.html">Quality Info</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="warranty.html">Warranty</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="download.html">Download</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="contactus.html">Contact Us</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/26x26.gif" width="26" height="26"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="images/index_product.jpg" width="228" height="208" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table width="520" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img src="images/36x1.gif" width="36" height="1"></td>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td><img src="images/title_aboutus.gif" width="180"
                                                                        height="29"></td>
                                                                <td align="right">
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td valign="top"><img src="../images/search.gif"
                                                                                    width="70" height="27"></td>
                                                                            <td valign="bottom">
                                                                                <form name="form1" onsubmit="go_search();return false;">
                                                                                    <input type="text" id="keyword"
                                                                                        size="16" maxlength="30">
                                                                                </form>
                                                                            </td>
                                                                            <td valign="top"><a href="javascript:go_search();"><img
                                                                                        src="../images/go.gif" border="0"></a></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="images/10x10.gif" width="10" height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td class="arial_15"><span>ONWELL Power’s global operations, with
                                                        headquarters in Taiwan and operations in Hong Kong, Europe, and
                                                        the U.S., provide customers with a unique and diverse
                                                        combination of skills and values. ONWELL Power has over 50
                                                        years</span> of experience in the design, manufacture, sourcing
                                                        and distribution of power electronic products and maintains
                                                        laser focus on speed of execution and quality.  Our goals and
                                                        priorities are simple; to help our customers rapidly develop
                                                        products that can provide them with the highest levels of
                                                        quality while maintaining competitive pricing.</td>
                                                </tr>

                                                <tr>
                                                    <td class="arial_15">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td class="arial_15"><br>
                                                                    ONWELL Power’s rechargeable battery line includes
                                                                    batteries for two-way radios, handheld scanners,
                                                                    portable printers, and various industrial
                                                                    applications.  Our single, multi-bay, and vehicle
                                                                    chargers incorporate advanced charging technologies
                                                                    to provide customers efficiency and convenience for
                                                                    their charging requirements.  With our global
                                                                    distribution, manufacturing, </td>
                                                                <td valign="top"><img src="images/battery.gif" width="153"
                                                                        height="165" hspace="5"></td>
                                                            </tr>
                                                        </table>
                                                        and supply chain network, ONWELL Power is ready to engage a
                                                        full suite of partners to quickly supply products that meet
                                                        your cost goals and global logistics needs. <br>
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- FRIENDSHIP LINKS --> <!-- /FRIENDSHIP LINKS -->
            <tr>
                <td><img src="images/footer.gif" width="778" height="15"></td>
            </tr>
        </table>

        <map name="Map" class='layui-hide-xs' ><area shape="rect" coords="1,0,87,20" href="index.html" target="_self">
        </map>

        <div id='mobile' class="layui-hide-sm mobile">
            <!-- MOBILE_HEADER --> <!-- /MOBILE_HEADER -->
            <div class="layui-row index-detail">
                <div class="layui-col-xs12">
                    <img src="images/title_aboutus.gif" height="29">
                </div>
                <div class="layui-col-xs12">
                    <p>
                        <span>ONWELL Power’s global operations, with
                        headquarters in Taiwan and operations in Hong Kong, Europe, and
                        the U.S., provide customers with a unique and diverse
                        combination of skills and values. ONWELL Power has over 50
                        years</span> of experience in the design, manufacture, sourcing
                        and distribution of power electronic products and maintains
                        laser focus on speed of execution and quality.  Our goals and
                        priorities are simple; to help our customers rapidly develop
                        products that can provide them with the highest levels of
                        quality while maintaining competitive pricing.
                   </p>
                    <p>
                        <img class='fr' style="padding-left: 5px;" src="images/battery.gif" >
                        <span class=''>
                            ONWELL Power’s rechargeable battery line includes
                            batteries for two-way radios, handheld scanners,
                            portable printers, and various industrial
                            applications.  Our single, multi-bay, and vehicle
                            chargers incorporate advanced charging technologies
                            to provide customers efficiency and convenience for
                            their charging requirements.  With our global
                            distribution, manufacturing,  and supply chain network, ONWELL Power is ready to engage a
                        full suite of partners to quickly supply products that meet
                        your cost goals and global logistics needs. 
                        </span>
                    </p>
                </div>
            </div>
            <!-- MOBILE_FOOTER --> <!-- /MOBILE_FOOTER -->
        </div>
        
        <!-- JSON_DATA --> <!-- /JSON_DATA -->

        
    </body>
</html>
