<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>--- Welcome to AVT-POWER.COM ---</title>
        <link href="avt.css" rel="stylesheet" type="text/css" />
        <script type="text/JavaScript">
            <!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
    </head>

    <body>
        <table class='layui-hide-xs' width="778" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><a name="top"></a><img src="images/index_top_01.jpg" width="228" height="50" /></td>
                            <td><img src="images/in_top_02.jpg" width="434" height="50" /></td>
                            <td><img src="images/in_top_03.jpg" width="85" height="50" border="0" usemap="#Map" /></td>
                            <td><img src="images/in_top_04.jpg" width="31" height="50" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><img src="images/1x1.gif" width="1" height="1"></td>
            </tr>
            <tr>
                <td><img src="images/in_middle.jpg" /></td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="228" valign="top" bgcolor="#DEDEDE">
                                <table border="0" cellpadding="0" cellspacing="0" bgcolor="#C50000">
                                    <tr>
                                        <td><img src="images/228x1.gif" width="228" height="1" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td><img src="images/18x1.gif" width="18" height="1" /></td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="newproduct.html">New Product</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="product.html">Product</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td class="choice">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <!-- MENU -->
                                                            <tr>
                                                                <td valign="top" class="arrow"><img src="images/arrow_white.gif"
                                                                        width="3" height="5" /></td>
                                                                <td class="choice"><a href="product.html">Product Sort
                                                                        A </a></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="arrow"><img src="images/arrow_white.gif"
                                                                        width="3" height="5" /></td>
                                                                <td class="choice"><a href="product.html">Product Sort
                                                                        B </a></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="arrow"><img src="images/arrow_white.gif"
                                                                        width="3" height="5" /></td>
                                                                <td class="choice"><a href="product.html">Product Sort
                                                                        C </a></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="arrow"><img src="images/arrow_white.gif"
                                                                        width="3" height="5" /></td>
                                                                <td class="choice"><a href="product.html">Product Sort
                                                                        D </a></td>
                                                            </tr>
                                                            <!-- /MENU -->
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="quality.html">Quality Info</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="warranty.html">Warranty</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="download.html">Download</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/arrow_white.gif" width="3" height="5" /></td>
                                                    <td class="choice"><a href="contactus.html">Contact Us</a></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><img src="images/26x26.gif" width="26" height="26"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="images/index_product.jpg" width="228" height="208" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table width="520" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="36"><img src="images/36x1.gif" width="36" height="1"></td>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td><img src="images/title_product.gif"
                                                                                    width="180" height="29"></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td align="right">
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td valign="top"><img src="../images/search.gif"
                                                                                    height="27"></td>
                                                                            <td valign="bottom">
                                                                                <form name="form1" onsubmit="go_search();return false;">
                                                                                    <input type="text" id="keyword"
                                                                                        size="16" maxlength="30">
                                                                                </form>
                                                                            </td>
                                                                            <td valign="top"><a href="javascript:go_search();"><img
                                                                                        src="../images/go.gif" border="0"></a></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><span class="sub_title">{cat_name}</span></td>
                                                </tr>
                                                <tr>
                                                    <td><img src="images/10x10.gif" width="10" height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td class="arial_15">
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <!-- TABLE -->
                                                            <tr>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/dot.gif"
                                                                        width="9"><a href="product_detail.html">brand A
                                                                    </a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            B </a></span></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            C </a></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/10x10.gif"
                                                                        width="10" height="10"></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/dot.gif"
                                                                        width="9"><a href="product_detail.html">brand D
                                                                    </a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            E </a></span></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            F </a></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/10x10.gif"
                                                                        width="10" height="10"></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/dot.gif"
                                                                        width="9"><a href="#">brand G </a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center" class="brand"><img src="images/dot.gif"
                                                                        width="9"><a href="product_detail.html">brand H</a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            I </a></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/10x10.gif"
                                                                        width="10" height="10"></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><a href="product_detail.html"><img
                                                                            src="images/brand_146x120.gif" width="146"
                                                                            height="120" border="0"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="brand"><img src="images/dot.gif"
                                                                        width="9"><a href="product_detail.html">brand J
                                                                    </a></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            K </a></span></td>
                                                                <td align="center">&nbsp;</td>
                                                                <td align="center"><span class="brand"><img src="images/dot.gif"
                                                                            width="9"><a href="product_detail.html">brand
                                                                            L </a></span></td>
                                                            </tr>
                                                            <!-- /TABLE -->
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td align="center" class="arial_15"><br>
                                                        <table border="0" cellspacing="1" cellpadding="0">
                                                            <!-- PAGER -->
                                                            <tr>
                                                                <td class="page"><a href="#">&lt;Back</a></td>
                                                                <td class="page"><a href="#">Next&gt; </a></td>
                                                                <td class="page_noneline">Total </td>
                                                                <td class="page_numbers">14</td>
                                                                <td class="page_noneline">pages</td>
                                                                <td>&nbsp;</td>
                                                                <td class="page_noneline">Go to</td>
                                                                <td>
                                                                    <form name="form1">
                                                                        <select name="menu1" size="1" onChange="MM_jumpMenu('parent',this,0)">
                                                                            <option selected>numbers</option>
                                                                        </select>
                                                                    </form>
                                                                </td>
                                                                <td class="page_noneline">page</td>
                                                            </tr>
                                                            <!-- /PAGER -->
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="arial_15"><img src="images/line.gif" width="498" height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td class="arial_15">
                                                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                                            <!-- MENU2 -->
                                                            <tr>
                                                                <td width="20" class="brand"><img src="images/dot2.gif"
                                                                        height="6" border="0"></td>
                                                                <td width="50%" class="brand"><a href="product.html">Product
                                                                        Sort A </a></td>
                                                                <td width="20"><span class="brand"><img src="images/dot2.gif"
                                                                            height="6" border="0"></span></td>
                                                                <td width="50%"><span class="brand"><a href="product.html">Product
                                                                            Sort B </a></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="20" class="brand"><img src="images/dot2.gif"
                                                                        height="6" border="0"></td>
                                                                <td class="brand"><a href="product.html">Product Sort C
                                                                    </a></td>
                                                                <td width="20"><span class="brand"><img src="images/dot2.gif"
                                                                            height="6" border="0"></span></td>
                                                                <td><span class="brand"><a href="product.html">Product
                                                                            Sort D </a></span></td>
                                                            </tr>
                                                            <!-- /MENU2 -->
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right" class="arial_15"><br>
                                                        <a href="#top"><img src="images/top.gif" width="51" height="24"
                                                                border="0"></a><br>
                                                        <br>
                                                        <br></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
                <!-- FRIENDSHIP LINKS --> <!-- /FRIENDSHIP LINKS -->

            <tr>
                <td><img src="images/footer.gif" width="778" height="15"></td>
            </tr>
        </table>


        <map class='layui-hide-xs' name="Map"><area shape="rect" coords="6,-1,86,22" href="index.html" target="_self">
        </map>


        <div class="layui-hide-sm mobile ">
            <!-- MOBILE_HEADER --> <!-- /MOBILE_HEADER -->
            <div class="layui-row content">
                <div class="layui-col-xs12">
                    <img src="images/title_product.gif" height="29">
                </div>

                <div class="layui-col-xs12">
                    <div class="title sub_title"></div>
                </div>

                <div class="layui-col-xs12">
                    <ul class="product-content">
                        <li class="product-item layui-col-xs6">
                            <a style="display: block;" href="">
                                <div class="img-c tc" >
                                    <img src="" >
                                </div>
                                <p class="product-name tc">
                                    <img src="images/dot.gif" >
                                    <span>
                                        
                                    </span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="layui-col-xs12">
                    <div class="page">
                        <div class='page_noneline'>Total </div>
                        <div class='page_numbers'>1</div>
                        <div class='page_noneline'>Page(s)</div>
                        <div>&nbsp;</div>
                        <div class='page_noneline'>Go To Page</div>
                        <div>
                            <form>
                                <select name='menu1' size='1' onChange='jump_get( this.options[ this.selectedIndex ].text );'>
                                    <option selected>1</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <img src="images/line.gif" style="width: 100%;">
            </div>

            <div class="type2 overflow">
                <div class="type2-item">
                    <img src="images/dot2.gif">
                    <a href=''></a>
                </div>
            </div>

            <div class="tr" style="padding : 10px ;">
                <a href="#top"><img src="images/top.gif" width="51" height="24" border="0"></a>
            </div>


            <!-- MOBILE_FOOTER --> <!-- /MOBILE_FOOTER -->

            <!-- JSON_DATA --> <!-- /JSON_DATA -->

        </div>
        <script>
            // console.log(jsonData);
            product();
            type();
            title();
            page();
            type2();
        </script>
    </body>
</html>
